.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background: rgb(156,139,249);
  background: linear-gradient(90deg, rgba(156,139,249,1) 0%, rgba(118,238,202,1) 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.Textstyle {
font-size: x-large;
font-family: 'Alice', serif;
color: black;
margin-left: 100px;
margin-right: 100px;
line-height: 300%;
text-align: center;
}

.heading {
  font-size: xxx-large;
  font-family: 'Alice', serif;
  color: black;
  margin-bottom: 10px;
  font-weight: bold;
  text-decoration: underline double white;
}

.heading2 {
  font-size: xx-large;
  font-family: 'Alice', serif;
  color: black;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type=button], input[type=submit], input[type=reset] {
  background-color: blue;
  border: none;
  color: white;
  padding: 20px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
}
