.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background: rgb(156,139,249);
  background: linear-gradient(90deg, rgba(156,139,249,1) 0%, rgba(118,238,202,1) 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.Textstyle {
font-size: x-large;
font-family: 'Arvo', serif;
font-family: 'Suranna', serif;
color: black;
}

.heading {
  font-size: xx-large;
  font-family: 'Arvo', serif;
  font-family: 'Suranna', serif;
  color: black;
  margin-bottom: 10px;
  font-weight: bold;
}

